    .icon{
        background-image: url('../../assets/images/sprites/sprite-23f5fb5c.svg');
        }   

    .icon--comment {
        width: 64px;
        height: 64px;
        background-position: 0 99.9367088607595%;
    }

    .icon--facebook {
        width: 21.23px;
        height: 42.01px;
        background-position: 52.72480125221403% 87.72709594977498%;
    }

    .icon--fire {
        width: 64px;
        height: 64px;
        background-position: 32% 59.43037974683544%;
    }

    .icon--globe {
        width: 64px;
        height: 64px;
        background-position: 64% 59.43037974683544%;
    }

    .icon--instagram {
        width: 42.01px;
        height: 42.01px;
        background-position: 67.22374881751429% 87.72709594977498%;
    }

    .icon--mail {
        width: 64px;
        height: 48px;
        background-position: 100% 36.7816091954023%;
    }

    .icon--rain {
        width: 64px;
        height: 64px;
        background-position: 0 59.43037974683544%;
    }

    .icon--star {
        width: 64px;
        height: 64px;
        background-position: 32% 99.9367088607595%;
    }

    .icon--tirhal-travel-logo {
        width: 200px;
        height: 93.9px;
        background-position: 0 0;
    }

    .icon--twitter {
        width: 51.78px;
        height: 42.06px;
        background-position: 94.24182452172275% 62.242969878848506%;
    }

    .icon--wifi {
        width: 64px;
        height: 64px;
        background-position: 100% 0;
    }

    .icon--youtube {
        width: 34.75px;
        height: 42px;
        background-position: 83.41984732824426% 87.72222222222223%;
    }
